body {
    font-family: Montserrat,Helvetica,Arial,sans-serif !important;
    /*color: #777;*/
    color: #1D3557;
    /*background: #F4F1BB;*/
    background: #F1FAEE;
    min-width:1000px;
}

    body .sitename {
        text-align: center;
        margin: 8px 0px 8px 0px;
        color: #fff;
        font-weight: 900;
        font-size: 2.5em;
    }

    body .empty {
        text-align: center;
    }

    body .card {
        background-color: #fff;
        border-radius: 0px;
        padding: 15px;
        border: 1px solid #A8DADC;
    }

    body.bg1, body.bg1 .navbar-fixed-top {
        background-image: url(../img/bg/Sports.png);
        background-attachment: fixed;
    }

    body.curls, body.curls .navbar-fixed-top {
        background-image: url(../img/bg/curls.png);
        background-attachment: fixed;
    }

    body.doodles, body.doodles .navbar-fixed-top {
        background-image: url(../img/bg/doodles.png);
        background-attachment: fixed;
    }

    body.curls .sitename {
        color: #fff;
    }

    body.doodles .sitename {
        color: #777;
    }

    body.doodles .card {
        border: 1px solid #777;
    }

    body.doodles .sitename {
        background-color: #fff;
        padding: 20px;
        margin: 10px 0px 0px 0px
    }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 0px;
}

.btn {
    border-radius: 4px;
    background: #457B9D;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
    border: 0;
    font-weight: bold;
    outline: 0;
}

.alert {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    font-weight: bold;
    text-align: center;
}

.alert-error {
    background: #E63946 !important;
}

.input {
    border: 1px solid #1D3557 !important;
    color: #66615b !important;
    font-size: 14px;
    -webkit-transition: background-color .3s ease 0s;
    transition: background-color .3s ease 0s;
    padding-right: 0 !important;
    padding: 7px 12px;
}

    .input:focus {
        outline: 0 !important;
        background-color: #fff;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

#otppanel,
#signinbtn {
    display: none;
}

.progress {
    height: 10px !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}

#commonloading {
    height: 10px;
    border-radius: 0px;
    margin-bottom: 0px;
    width: 100%;
    display: none;
}

#loginfrm {
    max-width: 400px;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -130px;
    display: inline-block;
    padding: 30px;
}

#uploadfrm, #filelist {
    margin-top: 20px;
}

    #filelist > table tr {
        cursor: pointer;
    }

.fixed-bottom {
    position: fixed;
    bottom: 0px;
    display: block;
    width: 100%;
}

.template-upload .start, .template-upload .cancel {
    display: inline-block;
}

.template-upload .name {
    font-size: 13px;
}

.btn {
    background-image: none !important;
}

#dropzone {
    font-size: 2em !important;
}

.table th, .table td {
    border-top: 0px !important;
    font-size: 0.99em !important;
}

.fileinput-button {
    float: none !important;
}

.progress-extended {
    font-size: 0.85em;
}


.view2 .drive > .card {
    height: calc(100vh - 135px);
    overflow-y:auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color:transparent;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius:4px;
}

body {
    margin-top: 90px;
}

@media (max-width: 979px) {
    body {
        margin-top: 0px;
    }
}
/**/

.alert-danger, .alert-error {
    background-color: #FF4747;
    border-color: #FF4747;
    color: #fff;
    text-shadow: none;
}

.alert-info {
    background-color: #1E8089;
    border-color: #1E8089;
    color: #fff;
    text-shadow: none;
}

.bold {
    font-weight: bold;
}


.multiple_emails-input {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    height:25px !important;
}

.multiple_emails-container {
    border: 1px solid #1D3557 !important;
    border-radius:0px !important;
}

    .multiple_emails-container ul {
        max-height: 100px;
        max-width: 100%;
        overflow-y: auto;
        margin-left: 0px;
        margin-bottom:0px;
    }

        .multiple_emails-container ul > li span.email_name {
            word-break: break-word;
        }

input.error {
    border-color: red;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    /*background-color: #F4F1BB !important;*/
}


.logout, .logout:hover{
    color:#fff;
    font-size:0.8em;
}

.btn .fa{
    margin-right:5px;
}