<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="RSTFileParkingConnectionString" connectionString="Data Source=HP\SQLEXPRESS;Initial Catalog=RSTFileParking;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" executionTimeout="300" maxRequestLength="2147483647" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.webServer>

    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!-- MultipleFileUpload handlers -->
      <add name="Upload" verb="*" path="Upload.axd" type="MultipleFileUpload.handlers.Upload, MultipleFileUpload" />
      <add name="FileComplete" verb="*" path="FileComplete.axd" type="MultipleFileUpload.handlers.FileComplete, MultipleFileUpload" />
      <add name="FileError" verb="*" path="FileError.axd" type="MultipleFileUpload.handlers.FileError, MultipleFileUpload" />
    </handlers>
    <security>
      <requestFiltering>
        <!-- In Bytes! -->
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.mailtrap.io" port="2525" userName="30f8b0a033f41c" password="52e7f4580a3692"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>