body {
}


#chartMonth .ct-labels foreignObject:nth-child(odd) .ct-label.ct-horizontal {
    display: none;
}

.browserdata td {
    
    max-width: 80%;
}

    .browserdata td > div {
        overflow-wrap: break-word;
        max-width:100%;
    }

table.fixedheader {
    border-collapse: collapse;
}

    table.fixedheader > thead {
        display: block;
        overflow: auto;
    }

    table.fixedheader > tbody {
        display: block;
        max-height: 500px;
        overflow: auto;
    }

    table.fixedheader > tbody > tr > td {
        overflow-wrap:break-word;
    }
