body {
}


#chartMonth .ct-labels foreignObject:nth-child(odd) .ct-label.ct-horizontal {
    display: none;
}

.browserdata td {
    
    max-width: 80%;
}

    .browserdata td > div {
        overflow-wrap: break-word;
        max-width:100%;
    }